body {
  background-color: lightgrey;
  font-family: 'SN Pro', Arial;
  text-wrap: pretty;
}

main {
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 650px) {
  #container {
    flex-direction: column;
  }
}

#container {
  display: flex;
  gap: 30px;
  align-items: stretch;
  background-color: hsl(270, 100%, 98%);
  border-radius: 10px;
  padding: 50px;

  & > div {
    flex: 1;
    position: relative;

    display: flex;
    flex-direction: column;

    & h1 {
      font-weight: normal;
      margin: 0;
      margin-bottom: 10px;
      font-size: 2rem;
    }

    & .price {
      font-weight: bold;
      font-size: 3rem;
      margin: 0;

      &:first-letter {
        font-size: 1.5rem;
        margin-right: 2px;
      }
    }

    & .price-info {
      font-size: 0.9rem;
      opacity: 0.7;
      margin-bottom: 25px;
    }

    & p {
      margin-top: 0;
    }

    & button {
      font-family: inherit;
      margin-top: auto;
      padding: 20px;
      width: 170px;
      font-size: 1.2rem;
      white-space: nowrap;
      border: 0;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 4px 4px 5px lightgrey;
      background-color: var(--button-color);
      transition:
        box-shadow 0.6s,
        transform 0.6s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 4px 8px 15px lightgrey;
      }
    }
  }
}

#container div:nth-child(1) button {
  --button-color: hsl(284, 100%, 87%);
}

#container div:nth-child(2) button {
  --button-color: hsl(183, 78%, 82%);
}

#container div:nth-child(3) button {
  --button-color: hsl(32, 100%, 86%);
}
