* {
  margin: 0;
  font-family: 'Roboto', Arial;
}

body {
  background-color: lightgrey;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: white;
  max-width: 500px;
  width: 75%;
  border-radius: 10px;
  padding: 70px 50px;
  margin: 10px;
}

h1 {
  font-size: 2.5rem;
}

#profile {
  display: flex;
  align-items: center;
  margin: 20px 0;

  & img {
    border-radius: 100%;
    margin-right: 20px;
    aspect-ratio: 1;
    object-fit: cover;
  }

  & #name {
    font-weight: bold;
    font-size: 1.2rem;
  }
}

#password-input-container {
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  padding: 10px;
  flex-grow: 1;
}

#password-container {
  display: flex;
  gap: 20px;
}

#password {
  margin-left: 5px;
  border: 0;
  height: 100%;
  font-size: 2rem;
}

#password:focus {
  outline: 0;
}

#password-container button {
  background-color: transparent;
  border: 0;

  & :hover {
    cursor: pointer;
  }
}
